/* layout*/
body 
{
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  margin:0;
  padding: 0 3em 0 13em;
}
body > .header { margin: 0 0 0 -13em;}
body > .footer { margin: 1em 0 0 -13em; clear:both;}
body > .navigation 
{
  margin-left: -13em;
  width: 13em;
  float: left;
}
body > .content 
{
  width: 100%;
  margin: 0;
}
body > .header > #searchbox { position: absolute; right: 1em; top: 1em;}
body > .content > #subnav    { position: absolute; right: 1.5em; top: 5em;}

/* style */

:link { color: #bb0000; text-decoration: none;}
:visited { color: #770000; text-decoration: none;}
a.toc-backref { color: #000000; }

.header h1 { margin-left: 1em; }

body
{
  font-family: sans-serif, Arial, Helvetica;
  background-color: #f5f5f5;
  color: #333;
}

.menu { padding: 0; margin-right: 1em;}
.menu ul 
{
  padding: 0;
  margin: 0;
}
.menu li
{
  margin: 5pt 0;
}
.menu > ul > li > *
{ 
  display: block;
  padding: 2pt 2pt 2pt 10pt;
  border: solid thin #dadada;
  background-color:#ffffff;
}
.menu > ul > li.current > *
{ 
  background-color:#dddddd;
}

.menu ul li:first-child { margin-top:0;}
.menu ul { list-style-type:none;}

/* sub-menus are indented */ 
.menu > ul > li > ul,
.menu > ul > li.current > ul
{
  border:none;
  background-color: inherit;
}
.menu ul ul 
{
  margin-left: 2em;
  font-size: smaller;
}

/* sub-menu items draw a separator */
.menu ul ul > li 
{  
  margin: 0;
  padding: 0;
  border: none;
  border-top: solid thin #dadada;
  background-color: inherit;
}
.menu ul ul > li:first-child
{  
  border-top: none;
}

.footer
{
  font-size: small;
  text-align: center;
  color: lightgrey;
}

.footer img {
  vertical-align: middle;
}

.content
{ 
  padding: 1em;
  border: solid thin #dadada;
  background-color: #ffffff;
}

/* This is a little hack to inject a 'news' block into the title
   page without having to set up a custom directive. */
#roundup-issue-tracker .note
{
  float: right;
  width: auto;
  border: solid thin #dadada;
  background-color:#f5f5f5;
  padding: 1em;
  margin: 1em;
}
#roundup-issue-tracker .note .admonition-title { display: none; }

table
{ 
  border-collapse: collapse;
  border-spacing: 1px;
  background-color: #fafafa;
}

input, textarea { border-width: 1px; }


/* Contact page */
div#contact table td {
  white-space: nowrap;
  padding: 1pt 1em;
}
