<footer>
  <div class='container-fluid'>
    <hr>
    {% trans %}A{% endtrans %}
    <a href='http://www.roundup-tracker.org/'>{% trans %}roundup{% endtrans %}</a>
    {% trans %}production{% endtrans %}.
  </div>
</footer>
